.news_content_li{
    width: 692px;
    min-height: 1105px;
    float:right;
    /*border: 1px solid red;*/
}
.news_content_li_1{
    background: url("../images/bg-gray.png") repeat-x;
    height: 50px;
}
.news_content_li_1_1{
    color:#aa2b2b ;
    margin-left: 40px;
    font: 24px 微软雅黑 ;
    line-height: 50px;
    font-style:  italic;
    font-weight:bolder ;
}
.news_content_li_1_1 p{
    /*border:1px solid red;*/
    float: right;
    color: #575858;
    padding-right: 10px;
    *margin-top:-35px;
    font: 14px "微软雅黑";
}
.news-content-ul{
    margin-top: 20px;
}
.news-content-ul li{
    list-style: url("../images/icon-triangle.png");
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}
.news-content-ul li a{
    font-size: 15px;
    text-decoration:none;
    color: black;
}
.blue-bottom{
    border-bottom: 1px solid #a1dbff;
    width: 692px;
    height: 1px;
    display: block;
    margin-top: 6px;
    margin-left: -40px;
    /**margin-top:6px;*/
}
.news-content-ul-date{
    font-size: 14px;
    color: #aa2b2b;
    float: right;
    padding-right: 20px;
    /*border: 1px solid red;*/
    *margin-top:-20px;
}
.news_page{
    width: 420px;
    height: 23px;
    /*border: 1px solid greenyellow;*/
    margin: 0 auto;
    padding-bottom: 55px;
}
.news_page_spa1,.news_page_spa2,.news_page_spa3{
    height: 23px;
    background-color: white;
    border: 1px solid #eeeeee;
    color: #036cb4;
}
.news_page_spa1{
    width:36px;
    margin-left: 10px;
    padding: 0;
}
.news_page_spa2{
    width: 29px;
    margin-left: 8px;
}
.news_page_spa3{
    width: 19px;
    margin-left: 8px;
    padding: 0;
}
.news_page input:hover{
    background-color: #cccccc;
}
/*.news_page_extra{*/
    /**position:relative;*/
    /**top:-5px;*/
    /**left:0;*/
/*}*/


.news_content2_1{
    color: #083689;
    font-family: 微软雅黑;
    font-size: 20px;
    text-align: center;
    margin-top: 32px;
}
.news_content2_2{
    text-align: center;
    color: #aa2b2b;
    position: relative;
    top: 12px;
}
.news_content2_3{
    border: 1px solid #a1dbff;
    width: 100%;
    position: relative;
    top: 30px;
    *height:0;
}
.news_content2_4{
    width: 87%;
    margin: 0 auto;
    min-height: 700px;
    /*border: 1px solid yellowgreen;*/
    margin-top: 65px;
}



.news_content3{
    position: relative;
    border: 1px solid transparent;
    background: url("../images/bg-gray.png") repeat-x;
    height: 50px;
}
.news_content3_0_1{
    color: #aa2b2b;
    font-size: 24px;
    line-height: 50px;
    margin-left: 40px;
    font-family: 微软雅黑;
}
.news_content3_0_1 span{
    float: right;
    color: #575858;
    font-size: 14px;
    margin-right: 20px;
    *margin-top:-50px;
}
.news_content3_1{
    width: 84.1%;
    margin: 0 auto;
    position: relative;
    color: #083689;
    font: 24px "微软雅黑";
    text-align: center;
    top: 40px;
}
.news_content3_2{
    text-align: center;
    color: #aa2b2b;
    position: relative;
    top:45px;
}
.news_content3_3{
    border: 1px solid #a1dbff;
    width: 100%;
    position: relative;
    top:60px;
    *height:0;
}
.news_content3_4{
    width: 87%;
    margin: 0 auto;
    min-height: 700px;
    position: relative;
    top: 106px;
}

.new-center3_1{
    width: 100%;
    height: 235px;
    border-bottom: 1px solid #a1dbff;
    /*border: 1px solid blueviolet;*/
    margin-top: 25px;
}
.new-center3_1_1{
    width: 44.9%;
    height: 205px;
    border: 1px solid #8c8c8e;
    float: left;
}
.new-center3_1_2{
    width: 53%;
    height: 208px;
    /*border: 1px solid blue;*/
    float: right;
    font-family: 微软雅黑;
}
.new-center3_1_2_1 a{
    font-size: 18px;
    color: #083689;
    text-decoration: none;
}
.new-center3_1_2_2{
    font-size: 12px;
    color: #5ab3ff;
    margin-top: 4px;
}
.new-center3_1_2_3{
    color:#838383;
    margin-top: 4px;
    line-height: 22px;
}
.new-center3_2 {
    background: #dcdcdc;
    width: 44.9%;
    height: 205px;
    float: left;
    color: #929496;
    line-height: 205px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #cccccc;
    font-weight: bolder;
}